body{
  font-family: 'Roboto', sans-serif;
  font-size: small;
  position: relative;
  margin: 0;
}
.position{
  margin: 10px;
}
.position,
.type,
.attendant{
  margin-bottom: 5px;
  display: flex;
}
.margin{
  margin: 10px;
}
.type,.auto,.marg10{
  margin-bottom: 10px;
}
.trackTypes,.marg5,.action{
  margin-bottom: 5px;
}
.solid{
  border-top: 1px solid rgb(197, 197, 197);
}
input[type="text"]{ color: black !important; }
input[type="text"]:invalid{ box-shadow: none !important; }
input[type="radio"]:checked+label { font-weight: bold; }
input[type="radio"]:not(:checked)+label {
  color: rgb(175, 175, 175);  
}

.styled {
  border: 1px solid grey;
  line-height: 2;
  padding: 0 12px;  
  font-size: 12px;
  color: grey;
  background-color: white;
  border-radius: 10px;
}

.styled:hover {
  background-color: grey;
  color:white;
}
.styled:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.actionButtons{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  position: absolute;
  right: 20px;
}


input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #49494925;
  font-size: 1.4rem;
  color: #ccc;
        
}
.trackingsSucesso {
  display: none;
}
.actionsTrackings{
  display: none;
}
